[Desktop Entry]
Type=Application
Exec=/opt/Telegram/Telegram -startintray
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Telegram
Name=Telegram
Comment[en_US]=
Comment=
